.search-button, .add-buddy-button, .pagination-button {
  background-color: rgb(128, 0, 128) !important;
  color: white !important;
}

.search-button:hover, .add-buddy-button:hover, .pagination-button:hover {
  background-color: rgb(128, 0, 128) !important; /* Maintain the same color on hover */
  color: white !important;
}

.profile-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card img {
  max-width: 100px;
  border-radius: 50%;
}

.profile-card div {
  text-align: center;
}

.profile-card button {
  margin-top: 10px;
}

.additional-photos img {
  max-width: 50px;
  margin: 5px;
}
